@tailwind base;
/* comment base to remove css reset */
@tailwind components;
@tailwind utilities;

/* 1034 */
@layer components {
  .container {
    @apply md:max-w-[704px] lg:max-w-[934px];
  }
}
/* 
// ----767 - mobile
// md - 768 - tablet
// ? lg - 1024 ????
// xl - 1280 - desktop */
/* connect another ROboto */
@font-face {
  font-family: "Roboto";
  src: url("../public/fonts/Roboto-Regular.ttf");
}

#modal {
  /* temporary solution */
  position: relative;
  z-index: 1;
}
table {
  /* background: white; */
  height: fit-content;
}
td,
th {
  padding-left: 10px;
  padding-right: 10px;
  /* border: 1px solid black; */
}

#modal {
  z-index: 2;
}
/* btn */
.action-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f7f7f7),
    to(#e7e7e7)
  );
  background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7);
  color: #a7a7a7;
  width: 34px;
  height: 34px;
  position: relative;
  border-radius: 50%;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
  transition: all 250ms ease-in-out;
}
.action-button > svg {
  width: 20px;
  height: 20px;
}
.action-button:hover {
  text-decoration: none;
  color: #555;
  /* color: #ff751d; */
  background-color: #f5f5f5;
}

/* navigation */
/* submain */
.submain ul {
  display: flex;
}
.submain li {
  @apply rounded-t-3xl;
  overflow: hidden;
}
.submain a {
  text-align: center;
  display: inline-block;
  @apply py-4 px-6 min-w-[138px] font-roboto text-label tracking-small font-bold uppercase bg-navLinks-normalBg;
}
.submain a.pending {
  @apply bg-navLinks-normalBg text-navLinks-pendingText;
}
.submain a.active {
  @apply bg-navLinks-activeBg text-navLinks-activeText;
}
/* todo - create styles */

:root {
  --aside-text: #a2aaab;
  --aside-link-active: #f7f8f8;
}
/* main */
nav.main ul {
  /* display: flex; */
  padding-left: 0.5rem;
}
nav.main li {
  @apply my-1
  /* @apply rounded-t-3xl;
  overflow: hidden; */;
}
nav.main a {
  color: var(--aside-text);
  /* text-align: center;
  display: inline-block;
  @apply py-4 px-6 min-w-[138px] font-roboto text-label tracking-small font-bold uppercase bg-navLinks-normalBg; */
}
nav.main a.pending {
  /* @apply bg-navLinks-normalBg text-navLinks-pendingText; */
}
nav.main a.active {
  color: var(--aside-link-active);

  /* @apply bg-navLinks-activeBg text-navLinks-activeText; */
}
