@tailwind base;
/* comment base to remove css reset */
@tailwind components;
@tailwind utilities;

/* 
// ----767 - mobile
// md - 768 - tablet
// ? lg - 1024 ????
// xl - 1280 - desktop */

@font-face {
  font-family: "Roboto";
  src: url("../public/fonts/Roboto-Regular.ttf");
}

#modal {
  /* temporary solution */
  position: relative;
  z-index: 1;
}
table {
  background: white;
}
td,
th {
  padding: 10px;
  border: 1px solid black;
}
.navLinks a.active {
  color: red;
}
.navLinks a.pending {
  color: orange;
}
.navLinks a.pending::after {
  content: "Loading... ";
}

#modal {
  z-index: 2;
}
