@tailwind base;
/* comment base to remove css reset */
@tailwind components;
@tailwind utilities;

/* 1034 */
@layer components {
  .container {
    @apply md:max-w-[704px] lg:max-w-[934px];
  }
}
/* 
// ----767 - mobile
// md - 768 - tablet
// ? lg - 1024 ????
// xl - 1280 - desktop */
/* connect another ROboto */
@font-face {
  font-family: "Roboto";
  src: url("../public/fonts/Roboto-Regular.ttf");
}

#modal {
  /* temporary solution */
  position: relative;
  z-index: 1;
}
table {
  /* background: white; */
}
td,
th {
  padding: 10px;
  border: 1px solid black;
}

#modal {
  z-index: 2;
}
